body {
  background: white;
  width: 100%;
  height: 100%;
}

#clock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);

  &:after {
    content: '';
    border-radius: 100%;
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translateY(-50%) translateX(-50%);
  }
}